.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.checkBox-section {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}

.checkbox-control {
  margin: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

.btn-container {
  grid-column: 1/-1;
  text-align: center;
}

@media screen and (max-width: 725px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .form > input {
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .checkBox-section {
    flex-wrap: wrap;
  }
}
