.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.checkBox-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 1/-1;
}

.checkbox-control {
  margin: 1rem;
  display: flex;
  /* flex-direction: column-reverse; */
}

.checkbox-control label {
  margin: 0 0.3rem;
}

.btn-container {
  grid-column: 1/-1;
  text-align: center;
}

.addMinesSize {
  display: none;
  flex-direction: column;
  width: 40px;
}

.addMinesSize button {
  height: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 725px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .form > input {
    margin: 0 auto;
  }

  .addMinesSize {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .checkBox-section {
    flex-wrap: wrap;
  }
  .container {
    margin-top: 2rem;
  }
}
