.input {
  text-align: center;
  background: #333;
  border-radius: 2rem;
  border: none;
  width: 20rem;
  padding: 1rem;
  height: 2rem;
  outline: none;
  margin-left: 1rem;
  font-family: inherit;
  text-align: right;
}

.input::placeholder {
  color: #fff;
  font-family: inherit;
  text-align: right;
}
