.cardSection {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
}

.cardSection section {
  justify-self: center;
}

@media screen and (max-width: 1050px) {
  .cardSection {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}
