.form-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(16rem, 20rem, 30rem);
  margin: 0 auto;
}


.voice-icon {
  font-size: 1.5em;
  margin-top: 0.5rem;
}
